<h1>Playlists#index</h1>
<p>Find me in app/views/playlists/index.html.erb</p>

<h1>Sets</h1>
<ul>
  <% @sets.each do |set| %>
  <li> <%= set.name %> </li>
  <% end %>
</ul>

<h1>Playlists</h1>
<ul>
  <% @playlists.each do |playlist| %>
  <li> <%= playlist.name %> </li>
  <% end %>
</ul>

<%= link_to "new set", new_playlist_path %>